[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "tmux/.config/tmux/tmux-resurrect"]
	path = tmux/.config/tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/latex-unicoder.vim"]
	path = vim/.vim/bundle/latex-unicoder.vim
	url = https://github.com/joom/latex-unicoder.vim
[submodule "vim/.vim/bundle/vim-css-color"]
	path = vim/.vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
